$c_bg:          #ffffff;
$c_link:        #0000a0;
$c_visited:     #8000a0;
$c_hover:       #d04000;
$c_input:       #f0f0f0;
$c_grey:        #999999;
$c_disabled:    #cccccc;
$c_border:      #d0d0d0;
$c_light:       #e8e8e8;
$c_tag:         #e0e0e0;
$c_blue:        #0070ff;
$c_marker:      #fffada;
$c_marker_img:  #fff8b8;
$c_unsaved:     #d04000;

$c_error:       #ff0000;
$c_admin:       #009030;

$thin:          0.85;

$time:          .2s;
