@import 'mx_icons';

@import 'var';

.admin-menu {
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  line-height: 20px;
  fill: $c_disabled;
}

.admin-icon {
  position: relative;
  margin: 0 4px;
}

.e2-unsaved-led {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $c_unsaved;
}

.e2-admin-link + .e2-unsaved-led {
  margin-left: .1em;
  vertical-align: .2em;
}

.e2-notes-unsaved p .e2-admin-link + .e2-unsaved-led {
  margin-left: .3em;
}

.admin-icon .e2-unsaved-led {
  position: absolute;
  right: -4px;
  top: -3px;
}

.admin-links-sticky .e2-unsaved-led {
  right: 7px;
  top: -5px;
}

.admin-icon span > .e2-svgi > .e2-unsaved-led {
  opacity: 0;
}

.admin-links-floating {
  float: right;
  margin-left: 16px;
  white-space: nowrap;
}

.admin-links-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
}

.admin-links a { color: $c_admin; fill: $c_admin; border-color: transparentize($c_admin, $thin) }

.admin-links a.delete { color: #933; border-color: transparentize(#933, $thin) }

.admin-links a.dashed,
.admin-links a.dashed:visited {
  color: $c_admin; fill: $c_admin; border-color: transparentize($c_admin, $thin)
}

.admin-links a:hover,
.admin-links a.hover {
  color: $c_hover; fill: $c_hover; border-color: transparentize($c_hover, $thin)
}

.e2-admin-link,
.e2-admin-link:visited {
  color: $c_admin; fill: $c_admin; border-color: transparentize($c_admin, $thin);
}

.e2-admin-link:hover,
.e2-admin-link.hover {
  color: $c_hover; fill: $c_hover; border-color: transparentize($c_hover, $thin)
}

a.admin-menu-comments-count {
  background: $c_admin;
  min-width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

a.admin-menu-comments-count:hover,
a.admin-menu-comments-count.hover {
  background: $c_hover;
  color: #fff;
}




.e2-menu-item-frame {
  border: $c_admin 1px solid;
  border-radius: 12px;
 -moz-border-radius: 12px;
 -webkit-border-radius: 12px;
}


.e2-toggle-state-on,
.e2-toggle-state-off,
.e2-toggle-state-thinking {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  transform: scale(0.001) rotate(90deg);
  transition: opacity $time ease-out, transform $time ease-out;
}

// .e2-toggle-state-thinking {
  // transition: opacity $time ease-out, transform 2s cubic-bezier(1, 0, 0.5, 1);
// }

.e2-toggle-state-on,
.e2-toggle-state-thinking,
.e2-toggle-on .e2-toggle-state-off,
.e2-toggle-thinking .e2-toggle-state-off {
  opacity: 0;
  transform: scale(0.001);
}

.e2-toggle-state-off,
.e2-toggle-on .e2-toggle-state-on,
.e2-toggle-thinking .e2-toggle-state-thinking {
  opacity: 1;
  transform: scale(1);
}

.e2-toggle-state-thinking {
  fill: #000;
  stroke: #000;
  cursor: default;
}



.e2-keywords-input-dropdown {
  font-size: 11px;
  top: 0;
  position: relative;
  top: -.33em;
  padding: .2em .33em;
  background: #fff;
  border: 1px #ccc solid;
}

.e2-keywords-input-dropdown a {
  white-space: nowrap;
}
.e2-uploaded-image {
  margin-right: 1em;
  margin-bottom: 1em;
  outline: 1px #f0f0f0 solid;
  transition-property: (outline-color);
  transition-duration: $time;
  transition-timing-function: ease-out;
  /* */
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  /* */
}
.e2-uploaded-image:hover,
.e2-uploaded-image.hover {
  outline-color: $c_hover;
  transition: none;
}
.e2-uploaded-image-preview img {
  display: block;
}
.e2-uploaded-image-remover {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -8px;
  right: 2px;
  top: 2px;
  line-height: 0;
  z-index: 1004;
}
.e2-tag-list {
  font-size: 13px;
  top: 0;
  position: relative;
}

.e2-tag-list a {
  text-decoration: none;
  border-bottom: 1px #000 dashed;
  white-space: nowrap;
  olor: #000;
}

.e2-tag-list a:hover,
.e2-tag-list a.hover {
  color: $c_hover;
}

.e2-tag-list a.e2-dimmed-tag:link {
  color: #999;
  border-color: #999;
}

.e2-tag-list a.e2-tag-already-added {
  border: 0;
  cursor: default;
  color: #000;
}





.e2-template-preview,
.e2-draft-preview {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3% 0 0;
}

.e2-template-preview img,
.e2-draft-preview-box {
  outline: 1px #f0f0f0 solid;
  background: #f0f0f0;
  transition-property: (outline-color);
  transition-duration: $time;
  transition-timing-function: ease-out;
}





.e2-template-preview {
  min-height: 120px;
  text-align: center;
}

.e2-template-preview img {
  margin-right: 1em;
}

.e2-template-name {
  border-radius: 3px;
  padding: 1px 4px;
}

.e2-template-preview:hover,
.e2-template-preview.hover {
  cursor: pointer;
  cursor: hand;
}

.e2-template-preview:hover img,
.e2-template-preview:hover a,
.e2-template-preview.hover img,
.e2-template-preview.hover a {
  outline-color: $c_hover;
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
  transition: none;
}

.e2-current-template-preview:hover,
.e2-current-template-preview.hover {
  cursor: default;
}

.e2-current-template-preview img,
.e2-current-template-preview:hover img,
.e2-current-template-preview.hover img {
  outline: 1px #80b090 solid;
}

.e2-current-template-preview .e2-template-name {
  background: #c0d8c8;
}

.e2-current-template-preview a,
.e2-current-template-preview a.e2-pseudolink,
.e2-current-template-preview:hover a,
.e2-current-template-preview a:hover,
.e2-current-template-preview.hover a,
.e2-current-template-preview a.hover {
  outline: none;
  border-color: #c0d8c8;
  color: #000;
  cursor: default;
  transition: none;
}





.e2-draft-preview {
  min-height: 160px;
  margin-bottom: 1.4em;
  font-size: 12px;
  line-height: 16px;
}
.e2-draft-preview-box {
  position: relative;
  width: 100px;
  height: 120px;
  margin-bottom: 8px;
  outline: 1px solid #fff;
  text-align: left;
  color: #000;
  background: #f0f0f0;
}

.e2-draft-preview-box .e2-unsaved-led {
  position: absolute;
  top: -5px;
  right: -5px;
}

.e2-draft-preview-content {
  height: 120px;
  overflow: hidden;
}
.e2-draft-preview-content img {
  display: block;
  max-width: 100px;
}
.e2-draft-preview-text {
  margin: 4px 8px 0 4px;
  width: 88px;
  font-size: 9px;
  line-height: 12px;
}
.e2-draft-preview a {
  padding-top: 10px;
}
.e2-draft-preview a:hover .e2-draft-preview-box,
.e2-draft-preview a.hover .e2-draft-preview-box {
  outline-color: $c_hover;
  transition: none;
}
.e2-draft-preview-box u {
  text-decoration: none;
}

.e2-notes-unsaved {
  display: none;
  margin-bottom: 35px;
}

.e2-save-error {
  padding: 0 .33em;
  color: $c_error;
  font-weight: bold;
}

@import 'chosen';
