.spam,
.spam * {
  color: #b96;
}

.comments {
  float: left;
  width: 100%;
  word-wrap: break-word;
}

.comment-and-reply {
  margin: 0 0 3em;
}

.comment .comment-secondary-controls {
  display: none;
}

.comment:hover .comment-secondary-controls {
  display: inline;
}

.comment-meta-area {
  float: left;
  width: 20%;
  padding-right: 1em
}

.comment-content-area {
  float: left;
  width: 60%;
  position: relative;
}

.comment-control-area {
  float: left;
  width: 20%;
}

.comment-author-removed {
  text-decoration: line-through;
  color: #c00000;
}

.comment-author-removed span { color: #999; }

.reply {
  margin-top: .75em;
}

.reply .comment-meta-area {
  padding-right: 32px;
}

.reply .comment-meta-area,
.reply .comment-control-area {
  margin-top: .375em;
  border-top: 1px #fff solid;
  /* for perfect align with content-area text */
}


.reply .comment-content-area {
  border: 1px #ccc solid;
  min-height: 3em;
  border-radius: 8px;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
  width: 60%;
  margin: 0 .5em 0 -.5em;
  padding: .375em 1em .75em 8px;
}

.reply .comment-content-area-tail {
  @include icon('tail.png', 'tail.png');
  position: absolute;
  left: -16px;
  top: 8px;
}
