.e2-marked {
  background: #feeb7f;
}

.e2-marked .w {
  position: relative;
  padding: .375em 0;
  white-space: nowrap;
}

.e2-marked .l, .r {
  position: absolute;
  top: 0;
  width: 8px;
  z-index: 1004;
  height: 100%;
}

.e2-marked .l {
  left: -8px;
  background: right center no-repeat;
  background-image: image-url('hgl-left.png');
}
.e2-marked .r {
  right: -8px;
  background: left center no-repeat;
  background-image: image-url('hgl-right.png');
}

.e2-marked .c {
  white-space: nowrap;
  position: relative;
  padding: .375em 0;
  z-index: 1005;
  background: center center repeat-x;
  background-image: image-url('hgl-bg.png');
}



.e2-user-picture {
  width: 100%;
  margin: 0 0 18px 0;
  border-radius: 4px;
  noborder: 1px #999 solid;
}

.e2-external-drop-target-dragover {
  background: #f8f8e0;
  position: relative;
  border: #963 1px dashed;
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius: .75em;
}

.e2-external-drop-target-dragover .e2-external-drop-target-frame {
  margin: -1px;
}

.e2-user-picture-uploading {
  background: url('../images/loading-spinner.gif') center center no-repeat;
}

.e2-external-drop-target-dragover img,
.e2-user-picture-uploading img {
  opacity: .2;
  -webkit-opacity: .2;
  -moz-opacity: .2;
}


