.form {
  width: 100%;
  max-width: 800px;
  clear: left;
}

.form-login table {
  margin: 0;
}

.form-login td {
  padding: .33em 0;
}

.form-part { width: 100%; margin: 0 0 1.75em 0 }

.form-control { width: 100%; margin: 0 0 1em 0  }

.form-control .label {
  float: left;
  margin-left: - (($g_content - $g_left) / ($g_right - $g_content)) * 100%;
  width: ($g_content - $g_left) / ($g_right - $g_content) * 100%;
  padding-right: 1em;
}

.form-control .input-label { margin-top: 4px }
.form-control .input-error { background: #ffece0 }
.form-control input.text { margin-bottom: 4px }
.form-control select, textarea { margin-bottom: 4px }
.form-control input.big { font-size: 24px; margin-bottom: 4px }
.form-control .disabled { color: #999; }

.form-subcontrol { width: 100%; margin: 0 0 .33em 0 }
.form-subcontrol-master { margin: 0 0 0 0 }
.form-subcontrol-slave { margin: 0 0 0 2.67em }

.form-control .full-width { width: 100%; }
.form-control .width-4 { width: 80%; }
.form-control .width-3 { width: 60%; }
.form-control .width-2 { width: 40%; }
.form-control .width-1 { width: 20%; }

.form-control .icon {
  position: relative;
  left: -.33em;
  width: 0;
}

.form-control .icon span.i-lock,
.form-control .icon span.i-loading {
  position: absolute;
  right: 0;
  top: 4px;
}

.form-control-sublabel {
  width: 75%;
  font-size: 13px;
  color: #404040;
}

.form-line-control {
  display: inline;
  display: inline-block;
  font-family: $f_main; 
  font-size: 15px;
  margin: 0;
  outline: none;
  border: 1px #ccc solid;
  padding: 4px;
  border-radius: 4px;
  border-color: #bbb #ccc #ddd;
  box-shadow: 0 1px 1px #ddd inset;
}

.form-line-control-focused {
  border-color: #777 #999 #bbb;
  box-shadow: 0 1px 3px #bbb inset;
}

.form-line-control input.text {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
}



.humble-form .form {
  margin-left: 20%;
  width: 60%;
  clear: none;
}
.humble-form .form-control .label {
  margin-left: -33.33%;
  width: 30%;
}
.humble-form .form-control .width-4 { width: 100%; }
.humble-form .form-control .width-3 { width: 66.67%; }
.humble-form .form-control .width-2 { width: 66.67%; }
.humble-form .form-control .width-1 { width: 33.33%; }

// IE 6
* html .humble-form .form-control .label {
  display: inline;
  position: relative; 
}



.submit-box, .delete-box {
  background: #f8f0c0;
  margin: .75em 0 1.5em -5%;
  padding: .75em 1em 1.5em 5%;
  width: 85%;
  @include border-radius(4px);
  @include background-image(linear-gradient(top, #f8f0b0, #ece8a0));
}

.submit-box p {
  font-size: 13px;
  color: #665;
}

.delete-box {
  background: #e05030;
  color: #fff;
}

.submit-box *, .delete-box * {
  vertical-align: baseline;
}

.button {
  display: inline;
  display: inline-block;
  outline: none;
  padding: 4px 10px;
  @include background-image(linear-gradient(top, #fff, #ececec));  
  border: 1px #fff solid;
  border-radius: 4px;
  box-shadow: 0 1px 2px #777;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  font-weight: normal;
  font-family: $f_main;
  cursor: hand;
  cursor: pointer;
}

.submit-box .button {
  @include background-image(linear-gradient(top, #fff, #f0ecc0));  
  box-shadow: 0 1px 2px #876;
}

.delete-box .button {
  @include background-image(linear-gradient(top, #fff, #f0d0c0));  
  box-shadow: 0 1px 2px #433;
}

.button:disabled {
  color: #a0a0a0;
  cursor: default;
}

.button:hover { box-shadow: 0 2px 3px #777 }
.button:focus { border: 1px #ccc dashed }
.button:active:hover,
.button:disabled:hover { border-color: #fff; box-shadow: 0 1px 2px #777 }

.submit-box .button:hover { box-shadow: 0 2px 3px #876}
.submit-box .button:focus { border-color: #d0d060 }
.submit-box .button:disabled { color: #c0c0a0 }
.submit-box .button:active:hover,
.submit-box .button:disabled:hover { border-color: #fff; box-shadow: 0 1px 2px #876 }

.delete-box .button:hover { box-shadow: 0 2px 3px #433 }
.delete-box .button:focus { border-color: #e87c6c }
.delete-box .button:disabled { color: #a0c0c0 }
.delete-box .button:active:hover,
.delete-box .button:disabled:hover { border-color: #fff; box-shadow: 0 1px 2px #433 }

.button * {
  vertical-align: absmiddle;
}

.submit-button {
  font-size: 16px;
  padding: 10px 1.33em;
  font-weight: bold;
//  font-size: inherit;
}

.sign-in-button {
  font-size: 13px;
  padding: 4px 10px;
}

.keyboard-shortcut {
  background: #f0f0c0;
  color: #a64;
  padding: 0 .33em;
  @include border-radius (4px);
  text-decoration: none;
  font-size: 85%;
}

.clickable-keyboard-shortcut {
  cursor: pointer;
  cursor: hand;
}

.submit-box .keyboard-shortcut {
  background: transparent;
  border: none;
  margin-left: .67em;
  color: #a64;
  font-weight: normal;
  font-size: 85%;
}

.input-remark {
  margin-left: 1em;
}


.toolbar a {
  float: left;
  display: block;
  text-decoration: none;
  margin-right: 1em;
}
.toolbar * {
  cursor: inherit;
  vertical-align: middle;
}
.toolbar-end {
  clear: left;
}







