.relative    { position: relative }
// used in sessions.tmpl.php


.baseline *  { vertical-align: baseline }
// used in form-note.tmpl.php near "Saving..."


.super-h {
  // used in many headings
  font-size: 13px;
  margin: 0 0 2px 0;
  max-width: 800px;
}

.tag-description {
  // used in tag.tmpl.php
  font-size: 13px;
  margin: (-$h_line/2) 0 $h_line*2 0;
  max-width: 800px;
}

.wrong { color: #900 }
.unexistent { color: #ccc }


