.login-sheet-wrapper {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 0;
  width: 300px;
}

.login-sheet,
.login-sheet-bottom {
  position: relative;
  margin: 0 -150px;
  width: 300px;
}

.login-sheet {
  background: image-url('guard-fill.png') left top repeat-y;
}

.login-sheet-bottom {
  height: 50px;
  background: image-url('guard-bottom.png') left top no-repeat;
}