.sunglass {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000608;
  z-index: 996; 
  opacity: .8;
  -moz-opacity: .8;
  -webkit-opacity: .8;
}

.sunglass-text {
  position: fixed;
  left: 0; top: 200px;
  width: 100%;
  z-index: 998; 
}

.sunglass-text h1 { font-weight: normal; margin: 0 0 .75em; line-height: 1.5em }
.sunglass-text p { max-width: none }
.sunglass-text *,
.sunglass-text a { text-align: center; color: #fff }
.sunglass-text a:hover { color: #f66 }