.txt-picture, .txt-picture.fotorama { margin: 0 0 1.5em 0 }
.txt-picture p { margin: .375em 0 .75em 0; font-size: 85%; }
.txt-picture a { position: relative; display: inline-block }
.txt-picture a img { border: 1px #ccc solid; margin: -1px; }
.txt-picture a:hover img { border-color: #f33 }
.txt-picture a.hover img { border-color: #f33 }
.txt-picture a .txt-picture-zoom-icon,
.txt-picture a .txt-picture-zoom-in,
.txt-picture a .txt-picture-zoomable {
  position: absolute; 
  width: .75em; height: .75em
}
.txt-picture a .txt-picture-zoom-icon { right: .375em; top: .375em; display: none }
.txt-picture a:hover .txt-picture-zoom-icon { display: block }
.txt-picture a .txt-picture-zoom-in { right: .375em; border-right: 1px #f33 solid }
.txt-picture a .txt-picture-zoomable { top: .375em; border-top: 1px #f33 solid }
.txt-picture a.txt-picture-zoomed .txt-picture-zoom-in { display: none }
.txt-picture a.txt-picture-zoomed { margin-right: 1em }

.txt-picture a.txt-picture-link, 
.txt-picture a.txt-picture-zoom-link, { border: none }

.txt-table { margin: 0 0 .5em 0 }
.txt-table td { padding: 0 1em .25em 0 }

.txt-generic-object { margin: 0 0 .75em 0 }