$f_main: "Helvetica", "Arial", sans-serif;
$f_mono: "Consolas", "Courier New", monospace;

$h_line: 1.5em;

$w_left_pad: 40px;

$c_bg:      #fff;

$c_link:    #009;
$c_visited: #609;
$c_hover:   #d04000;
$c_grey:    #999;
$c_rss:     #803000;

$g_left:      3%;
$g_content:  19%;
$g_right:    99%;
$g_sidebar:  15%;

$g_left:      2%;
$g_content:  16%;
$g_right:    99%;
$g_sidebar:  10%;
