@import 'compass';

@import 'mx_icons';

@import 'var';

.admin-menu {
  position: relative;
  left: 0;
  top: 0;
  height: 32px;
  overflow: hidden;
  font-size: 13px;
  margin: 0 0 -12px 0;
  white-space: nowrap;
}

.admin-menu-writing-and-comments {
  position: absolute;
  top: 4px;
  left: $g_left;
  height: 24px;
  width: 500%;  
}

.admin-menu-new {
  .i-new {
    @include icon('new.png', 'new.png', 1, 3);
    margin: 0 0 2px -16px;
  }
}

.admin-menu-new:hover,
.admin-menu-new.hover {
  .i-new {
    @include icon('new.png', 'new.png', 2, 3);
    margin: 0 0 2px -16px;
  }
}

.admin-menu-new-selected {
  color: $c_grey;
  .i-new {
    @include icon('new.png', 'new.png', 3, 3);
    margin: 0 0 2px -16px;
  }
}

.admin-menu-drafts {
  color: $c_grey;
}

.admin-menu-comments-tail {
  background: image-url('comments-count.png') top left no-repeat;
  width: 12px;
  height: 16px;
  @include inline-block;
  margin: 0 0 2px 0;
}

.admin-menu-comments-balloon {
  background: image-url('comments-count.png') top right no-repeat;
  height: 16px;
	@include inline-block;
	padding: 1px 6px 0 0;
	color: #fff;
	font-size: 11px;
  margin: 0 0 2px 0;
}

.admin-menu-comments:hover,
.admin-menu-comments.hover {
  .admin-menu-comments-tail {
    background-position: 0 -16px;
  }
  .admin-menu-comments-balloon {
    background-position: 100% -16px;
  }
}

.admin-menu-comments-fadeout {
  width: 16px;
  height: 100%;
  @include background-image(linear-gradient(left, rgba(255, 255, 255, 0), $c_bg));
  @include inline-block;
  position: absolute;
  left: -16px; top: 0;
}



.admin-menu-service {
  
  position: absolute;
  top: 4px;
  right: 0;
  padding-left: 8px;
  padding-right: 100% - $g_right;
  height: 24px;
  background: $c_bg;
  
  .admin-menu-service-item {
    margin-right: 4px;
  }

  .i-sessions {
    @include icon('sessions.png', 'sessions.png', 3, 3);
    margin: 0 0 2px 0;
  }  
  a .i-sessions {
    @include icon('sessions.png', 'sessions.png', 1, 3);
    margin: 0 0 2px 0;
  }
  a:hover .i-sessions {
    @include icon('sessions.png', 'sessions.png', 2, 3);
    margin: 0 0 2px 0;
  }
  
  .i-settings {
    @include icon('settings.png', 'settings.png', 3, 3);
    margin: 0 0 2px 0;
  }  
  a .i-settings {
    @include icon('settings.png', 'settings.png', 1, 3);
    margin: 0 0 2px 0;
  }
  a:hover .i-settings {
    @include icon('settings.png', 'settings.png', 2, 3);
    margin: 0 0 2px 0;
  }
  
}

.admin-links a { color: #006020; border-color: transparentize(#006020, 0.67) }
.admin-links a.delete { color: #933; border-color: transparentize(#933, 0.67) }
.admin-links a.dashed,
.admin-links a.dashed:visited { color: #006020; border-color: transparentize(#006020, 0.67) }
.admin-links a:hover,
.admin-links a.hover { color: $c_hover; border-color: transparentize($c_hover, 0.67) }

.admin-menu .submit-button {
  padding: 0 8px;
  font-size: 11px;
}




.e2-menu-item-frame {
  border: #006020 1px solid;
  border-radius: 12px;
 -moz-border-radius: 12px;
 -webkit-border-radius: 12px;
}




.e2-keywords-input-dropdown {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 11px;
  top: 0;
  position: relative;
  top: -.33em;
  padding: .2em .33em;
  background: #fff;
  border: 1px #ccc solid;
}

.e2-keywords-input-dropdown a {
  white-space: nowrap;
}
.e2-uploaded-image {
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px #fff solid;
  box-shadow: 0 2px 4px #bbb;
 -moz-box-shadow: 0 2px 4px #bbb;
 -webkit-box-shadow: 0 2px 4px #bbb;
  nnnfloat: left;
  /* */
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  /* */
}
.e2-uploaded-image-preview img {
  display: block;
}
.e2-uploaded-image-remover {
  position: absolute;
  margin: -4px -3px -3px;
  right: -6px;
  top: -4px;
  z-index: 1004;
}
.e2-tag-list {
  font-size: 13px;
  top: 0;
  position: relative;
  line-height: $h_line*1.25;
}

.e2-tag-list a {
  text-decoration: none;
  border-bottom: 1px #000 dashed;
  white-space: nowrap;
  olor: #000;
}

.e2-tag-list a:hover {
  color: $c_hover;
}

.e2-tag-list a.e2-dimmed-tag:link {
  color: #999;
  border-color: #999;
}

.e2-tag-list a.e2-tag-already-added {
  border: 0;
  cursor: default;
  color: #000;
}





.e2-template-preview,
.e2-draft-preview {
  width: 100px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 3% 0 0;
  zoom: 1;
  *display: inline;
  _height: 250px;
}

.e2-template-preview img,
.e2-draft-preview-box {
  box-shadow: 0 4px 8px #ddd;
 -moz-box-shadow: 0 4px 8px #ddd;
 -webkit-box-shadow: 0 4px 8px #ddd;
}





.e2-template-preview {
  min-height: 120px;
  font-size: 85%;
}

.e2-template-preview img {
  border: 1px #d0d0d0 dashed;
  border: 1px #80b090 dashed;
  margin-right: 1em;
}

.e2-template-preview:hover {
  cursor: pointer;
  cursor: hand;
}

.e2-template-preview:hover img,
.e2-template-preview:hover a {
  border-color: $c_hover;
  color: $c_hover;
}

.e2-current-template-preview:hover {
  cursor: default;
}

.e2-current-template-preview img,
.e2-current-template-preview:hover img {
  border: 1px #e8e8e8 solid;
  box-shadow: none;
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
}

.e2-current-template-preview a,
.e2-current-template-preview a.dashed,
.e2-current-template-preview:hover a,
.e2-current-template-preview a:hover {
  border: 0;
  color: #000;
  font-weight: bold;
  cursor: default;
}





.e2-draft-preview {
  min-height: 160px;
  margin-bottom: 1.4em;
  font-size: 70%;
  text-align: center;
}
.e2-draft-preview-box {
  width: 100px;
  height: 120px;
  margin-bottom: 0.7em;
  border: 1px solid;
  border-color: #eee #ddd #ccc;
  text-align: left;
  color: #000;
  background: #fff;
}
.e2-draft-preview-text {
  margin: 4px 6px 0;
  width: 86px;
  height: 114px;
  overflow: hidden;
  font-size: 78.6%;
}
.e2-draft-preview-text img {
  width: 86px;
}
.e2-draft-preview a {
  text-decoration: none;
}
.e2-draft-preview a:hover .e2-draft-preview-box {
  border-color: $c_hover;
  box-shadow: 0 4px 16px #b99;
 -moz-box-shadow: 0 4px 16px #b99;
 -webkit-box-shadow: 0 4px 16px #b99;
}
.e2-draft-preview-box u {
  text-decoration: none;
}





.e2-sessions th,
.e2-sessions td {
  font-size: 85%;
  padding-right: 1em;
}
/*
.e2-sessions .e2-table-row:hover,
.e2-sessions .e2-table-row:hover .e2-balls {
  background: #fff8d4;
}
.e2-sessions .e2-full-hash {
  display: none;
  padding: 0 1em 0 0;
  background: #fff8d4;
}
*/
.e2-sessions .e2-balls {
  position: absolute;
  right: 0;
  padding: 0 .33em 0 3.33em;
  
}
/*
.e2-sessions .e2-hash:hover .e2-full-hash {
  display: block;
}
*/
.e2-sessions .e2-current-session {
  color: #c60;
  color: #009030;
}
